@charset "utf-8";
/* CSS Document */




.rcs-container .rcs-anti-ruger div.rcs-items {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  box-shadow: 0 0 4px -3px rgb(0, 0, 0);
  margin: 0 10px;
  position: relative;
}



.rcs-container .rcs-anti-ruger div.rcs-items div.rcs-items-thumb {
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}




.rcs-container .rcs-anti-ruger div.rcs-items div.rcs-items-thumb img {
  border-radius: 0;
  box-shadow: none;
}


.rcs-container .rcs-anti-ruger div.rcs-items div.items-info {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: block;
  left: 0;

  position: absolute;
  transform: translateY(-500px);
  transition: all 0.8s ease 0s;
  width: 100%;
}

.rcs-container .rcs-anti-ruger div.rcs-items:hover div.items-info{

	transform: translateY(0px);
	}






.rcs-container .rcs-anti-ruger div.rcs-items div.rcs-items-title {
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0;
  text-align: center;
}



.rcs-container .rcs-anti-ruger .owl-buttons{}
.rcs-container .rcs-anti-ruger .owl-controls .owl-buttons .owl-prev {
  background-image: url("images/arrow-prev.png");
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0;
  color: rgb(0, 0, 0);
  padding: 0;
  width: 30px;
  height: 20px;
}



.rcs-container .rcs-anti-ruger .owl-controls .owl-buttons .owl-next {
  background-image: url("images/arrow-next.png");
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0;
  color: rgb(0, 0, 0);
  padding: 0;
  width: 30px;
  height: 20px;
}



.rcs-container .rcs-anti-ruger .owl-controls .owl-buttons div.owl-prev:hover{
	background-image: url("images/arrow-prev.png") ;
	background-color:#d5d5d5 !important; }


.rcs-container .rcs-anti-ruger .owl-controls .owl-buttons div.owl-next:hover{
	background-image: url("images/arrow-next.png");
	background-color:#d5d5d5 !important; }





























